.card-body {
    background-color: #485e58;
}

.search-btn {
    background-color: #f7f6f9;
    color: #485e58;
}

.card {
    width: 80%;
    border:none;
}

.card-body {
    border-radius: 20px;
}

.container.mt-5 {
    display: flex;
    justify-content: center;
}