.card-body {
    background-color: #485e58;
}

.card {
    border:none;
}

.card-body {
    border-radius: 25px;
}

.create-acc-btn {
    background-color: white;
    color: #475d57;
}

.create-acc-btn:hover {
    color: #475d57;
    background-color: #e2e6ec;
}

label, .form-control, .btn {
    font-size: 0.8rem;
}