
body {
    margin: 0;
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/901/886/large_2x/abstract-blurred-fitness-or-gym-background-free-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
    opacity: .1;
  }

 ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.navbar {
    background-color: #45474b;
    color: #f5f5f5;
}

.selfbg {
display: flex;
padding: 40px;
justify-content: space-around;

} 


.viewbg {
padding: 40px;
justify-content: space-around;
}

.selfgym {
width: 700px;
height: 500px;
border: 1px solid #495e57;
background-color: #495e57;
border-radius: 25px;
display:flex;
margin-bottom:40px;
}

.viewgym {
margin: auto;
width: 1300px;
height: 500px;
border: 1px solid #495e57;
background-color: #495e57;
border-radius: 25px;
display:flex;
margin-bottom:40px;
}


.basicInfo {
display:flex;	
padding:20px;
margin-top:20px;
margin-left:15px;
}

.basicInfo .pfp {
display: flex;
margin-left: 10px;
margin-right: 20px;
}

.basicInfo .wordinfo {
margin-left: 10px;
margin-right: 20px;
margin-top: 20px;
color: #f5f5f5;
}

.bioinfo {
margin-left:45px;
}

.bigpics {
    margin-top: 40px;
}
.smallpics {
    display:flex;
    margin-top: 20px;
    justify-content: space-around;
}


.makereview {
    width: 750px;
    height: 300px;
    border: 1px solid #495e57;
    background-color: #495e57;
    border-radius: 25px;
    margin-left: 263px;
    margin-top: 0px;
    padding:20px;
}

.reviewcontainerview {
    margin-left: 233px;
    margin-top: 30px;
    overflow-x:hidden; 
    overflow-y:auto; 
    height:700px;
}

.reviewcontainerself {
    overflow-x:hidden; 
    overflow-y:auto; 
    height:750px;
}

.review {
    width: 750px;
    height: 100px;
    border: 1px solid #495e57;
    background-color: #495e57;
    border-radius: 25px;
    margin: 30px;
    margin-top: 0px;
    display:flex;
}


.review .gymthumbnail {
    margin-top: -1px;
    margin-left: -1px;
}

.review .stars {
    color:#f5f5f5;
    margin-left: 5px;
    margin-bottom: -10px;
    padding: 5px;
    line-height: 10px;
    display: flex;
}


.review .reviewtext {
    color:#f5f5f5;
    margin-top: 12px;
    margin-left: 5px;
    padding: 5px;
    line-height: 10px;
}

.gymthumbnail img {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 200px;
    height: 100px;
}


.logout {
width: 100px;
height: 40px;
border: 1px solid #495e57;
background-color: #495e57;
border-radius: 35px;
margin-left: 1680px;
color: #f5f5f5;
text-align:center;
padding-top:5px;
}

.stars{
    color:#f5f5f5;
    margin:auto;
}

.starrating {
    display:flex;
    margin-top:30px;
}


.navbar {
    background-color: #45474b;
    color: #f7f6f9;
}

.btn-navbar {
    background-color: white;
    color: #333a3f;
}

.btn-navbar:hover {
    color: #333a3f;
    background-color: #e2e6ec;
}
